name: Merge Schedule
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  schedule:
    - cron: 0 * * * *

permissions:
  contents: write
  pull-requests: write
  checks: read
  statuses: read

jobs:
  merge_schedule:
    runs-on: ubuntu-latest
    steps:
      - id: app-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: gr2m/merge-schedule-action@a9b6ddcf1282dfd66907bda8e7941dff59f03bad # v2.7.0
        with:
          merge_method: squash
          time_zone: "Asia/Tokyo"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
